.info {
	width: 100%;
}

.infoRow {
	padding-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	span:first-child {
		color: var(--color-neutral);
	}

	&:not(:last-child) {
		border-bottom: 1px solid rgba(128, 128, 128, 0.3);
		margin-bottom: 16px;
	}
}
