@use 'reset';
@use 'variables/global';

html, body, #root {
  height: 100vh;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-primary);

  backdrop-filter: blur(2px);
  background: var(--app-bg);
}

#root {
  display: flex;
  justify-content: center;

  padding: 16px;
}

.app {
  width: 100%;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;

    background: linear-gradient(to right, #22d3ee, #c084fc);
    background-clip: text;
    color: transparent;
  }
}