@use 'reset';
@use 'variables/global';

html,
body,
#root {
	height: 100vh;
}

body {
	font-family: var(--font-family-primary), sans-serif;
	color: var(--color-primary);

	backdrop-filter: blur(2px);
	background: var(--app-bg);
}

#root {
	display: flex;
	justify-content: center;

	padding: 16px;
}

.app {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-direction: column;

	.top {
		position: relative;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}

	h1 {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		text-align: center;
		text-transform: uppercase;
		font-size: 42px;
		font-weight: 700;

		background: linear-gradient(to right, #22d3ee, #c084fc);
		background-clip: text;
		color: transparent;
	}

	.create {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 6px;
		transition: var(--transition-duration);

		&:hover {
			color: var(--color-neutral);

			.icon {
				stroke: var(--color-neutral);
			}
		}
	}

	@media (max-width: 768px) {
		h1 {
			position: static;
			transform: unset;
			font-size: var(--font-size-xl);
		}

		.create {
			margin-left: unset;
		}
	}

	@media (max-width: 390px) {
		h1 {
			font-size: var(--font-size-l);
		}
	}
}
