* {
	padding: 0;
	margin: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	color: var(--color-primary);

	scrollbar-width: none;
	scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style-type: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
