.Card {
	background: rgba(114, 114, 114, 0.2);
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(88, 88, 88, 0.3);
}

.p8 {
	padding: 8px;
}
.p16 {
	padding: 16px;
}
.p24 {
	padding: 24px;
}
