.top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nick {
	font-family: var(--font-family-accent), sans-serif;
	font-size: var(--font-size-xl);
	font-weight: 700;
	color: var(--color-sky);

	margin-bottom: 8px;
}

.realName {
	font-size: var(--font-size-l);
	color: var(--color-neutral);
}
