.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 4px;

	overflow-y: scroll;
}

.btns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.cancel,
.create {
	width: 100%;
	padding-block: 18px;
	text-align: center;
	font-size: var(--font-size-l);
}

.cancel {
	background-color: var(--color-error);

	&:hover {
		background-color: var(--color-error-hover);
	}
}
