.gallery {
	width: 70vw;
	margin-top: 12px;
}

.wrapper {
	position: relative;
	aspect-ratio: 3/2;
}

.wrapper img {
	position: absolute;
	inset: 0;
	object-fit: cover;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 50%;
	line-height: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.prev {
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.next {
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.counter {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);

	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 18px;
	border-radius: 20px;
}
