.photos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 16px;

	margin-bottom: 16px;
}

.limit {
	margin-bottom: 8px;
}

.requirements {
	font-size: var(--font-size-s);
	color: var(--color-neutral);
}

.error {
	font-size: 14px;
	color: var(--color-error);
	margin-bottom: 16px;
}
