.preview {
	position: relative;
	aspect-ratio: 1;
	outline: 2px solid rgb(150, 150, 150);
	border-radius: 10px;
}

.image {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.deleteImg,
.caption {
	position: absolute;
}

.deleteImg {
	cursor: pointer;

	top: 8px;
	right: 8px;

	transition: var(--transition-duration);

	background-color: var(--color-error);
	padding: 4px;
	border-radius: 6px;

	&:hover {
		background-color: var(--color-error-hover);
	}
}

.caption {
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
