.Pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 12px;
	margin-top: 24px;

	user-select: none;
}

.page {
	font-size: var(--font-size-l);

	span {
		font-variant-numeric: tabular-nums;
	}
}
