.uploadPlaceholder {
	aspect-ratio: 1;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;

	text-align: center;

	outline: 2px dashed var(--color-neutral);
}

.hidden {
	display: none;
}
