.Button {
	cursor: pointer;
	width: fit-content;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	transition: var(--transition-duration);

	font-weight: 500;

	background-color: var(--color-accent);

	&:hover {
		background-color: var(--color-accent-hover);
	}

	&:active {
		transform: scale(0.98);
	}

	&:focus {
		outline: 1px solid var(--color-primary);
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.8;
		cursor: default;
	}
}

.p8 {
	padding: 8px 20px;
}
.p12 {
	padding: 12px 20px;
}
.p16 {
	padding: 16px 20px;
}
