.Textarea {
	width: 100%;
	padding: 10px 14px;
	border-radius: 10px;
	transition: var(--transition-duration);

	background-color: var(--input-background);
	outline: var(--input-outline);

	&::placeholder {
		color: var(--input-placeholder);
	}

	&:focus,
	&:hover {
		outline: var(--input-outline-focus);
	}
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.error {
	font-size: 14px;
	color: var(--color-error);
}
