.list {
	display: flex;
	align-items: center;
	gap: 12px;

	flex-wrap: wrap;
}

.tag {
	position: relative;
	display: block;
	border-radius: 24px;
	padding: 10px 16px;

	background-color: var(--tag-bg);
	color: var(--tag-text);
	border: 1px solid var(--tag-border);

	.remove {
		position: absolute;
		right: -5px;
		top: -10px;
		border-radius: 50%;
	}
}
