:root {
  --font-family-primary: 'Inter';
  --font-family-accent: 'Montserrat';

  --font-size-s: 12px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 28px;

  --app-bg: linear-gradient( to bottom right, #0f172a, #581c87, #0f172a);

  --color-primary: #ffffff;
  --color-accent: #b83ccf;

  --color-success: #7BC8A4;
  --color-warn:    #F3D37A;
  --color-error:   #D98C8C;
}