:root {
	--font-family-primary: 'Inter';
	--font-family-accent: 'Montserrat';

	--font-size-s: 12px;
	--font-size-m: 16px;
	--font-size-l: 20px;
	--font-size-xl: 28px;

	--transition-duration: 0.2s;

	// COLORS
	--app-bg: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);

	--color-primary: #ffffff;
	--color-accent: #9333ea;
	--color-accent-hover: #782ac2;
	--color-neutral: #d4d4d4;
	--color-sky: #38bdf8;

	--color-success: #7bc8a4;
	--color-warn: #f3d37a;
	--color-error: #f55f5f;
	--color-error-hover: #da5555;

	--skeleton-bg: rgb(71, 85, 105);

	// Input
	--input-outline: 1px solid rgba(130, 130, 130, 0.5);
	--input-outline-focus: 2px solid #8b5cf6;
	--input-background: rgba(71, 85, 105, 0.5);
	--input-placeholder: rgb(144, 144, 144);

	// Tags
	--tag-bg: rgba(79, 70, 229, 0.4);
	--tag-border: #818cf8;
	--tag-text: #c7d2fe;
}
