.HeroDetails {
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.edit,
	.remove {
		padding: 10px 18px;

		@media (max-width: 500px) {
			padding: 5px 9px;
		}
	}

	.remove {
		background-color: var(--color-error);

		&:hover {
			background-color: var(--color-error-hover);
		}
	}
}

.not_found {
	margin-top: 20px;
	font-size: var(--font-size-xl);
	text-align: center;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.right {
		display: flex;
		gap: 8px;
	}

	@media (max-width: 768px) {
		margin-bottom: 12px;
	}
}

.btns {
	display: flex;
	gap: 6px;
}

.backToList {
	display: flex;
	align-items: center;
	gap: 8px;

	font-size: var(--font-size-l);

	transition: var(--transition-duration);

	&:hover {
		color: var(--color-neutral);
	}

	&:hover .icon {
		transition: var(--transition-duration);
		stroke: var(--color-neutral);

		transform: translateX(-5px);
	}

	@media (max-width: 500px) {
		font-size: var(--font-size-m);
	}
}
